* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
body{
background-color: #222;
color: #fff;
}

.container{
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #222;
}

.text-center{
  height: 50px;
  overflow: hidden;
}

h1{
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}